@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
*,
::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    max-width: 100%;
}
html {
    height: 100%;
    font-size: 62.5%;

    @include respond(phone) {
        font-size: 56%;
    }
}
body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    line-height: 1.2;
    font-size: 1rem;
    min-height: 95%;
    background: $color-primary;
    color: #ffffffd8;
    position: relative;
}
h2 {
    font-size: 2.5rem;
}

p {
    font-size: 1.6rem;
}
a {
    text-decoration: none;
}
a:visited {
    color: #fff;
}
ul li {
    list-style: none;
}

.container {
    width: 114rem;
    margin: 2rem auto;
    padding: 1rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 2rem;
    padding-bottom: 10rem;
    @include respond(tab-land) {
        grid-template-columns: repeat(3, 1fr);
    }

    @include respond(tab-port) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond(phone) {
        grid-template-columns: 1fr;
    }
}
